<div fxLayout="column" fxLayoutAlign="space-between center" >
<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Register</md-toolbar>
  <md-card-content>
      <md-input-container class="demo-full-width">
        <input mdInput [(ngModel)]="username" placeholder="username" type="text" >
      </md-input-container>
      <md-input-container class="demo-full-width">
        <input mdInput [(ngModel)]="email" placeholder="email" type="Email">
      </md-input-container>

      <md-input-container class="demo-full-width">
        <input mdInput [(ngModel)]="password" placeholder="password" type="password">
      </md-input-container>
      <md-input-container class="demo-full-width">
        <input mdInput  [(ngModel)]="confirmPassword" placeholder="confirm password" type="password">
      </md-input-container>
    
  <div align="end"> 
    <button md-button (click)="register()"  color="accent">Register</button>
  </div>
  </md-card-content>
</md-card>
</div>
